<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="https://home.kpmg/in/en/home/about/overview.html">KPMG Services</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="https://home.kpmg/in/en/home/about/overview.html" class="nav-link" href="#">Careers</a>
      </li>
      <li class="nav-item">
        <a routerLink="https://home.kpmg/in/en/home/about/overview.html" class="nav-link" (click)="test()">Test Access</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" href="#">Logout</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>-->
    </ul>
  </div>
</nav>
