<app-common-layout></app-common-layout>
<div class="myContent">
  <div class="jumbotron" style="text-align:center; margin-top:70px;">
    <h2>Welcome to KPMG</h2>
    <p>
      KPMG entities in India are established under the laws of India and are owned and managed (as the case may be) by established Indian professionals. Established in August 1993, the KPMG entities have rapidly built a significant competitive presence in the country. Today we operate from offices across 14 cities including in Ahmedabad, Bengaluru, Chandigarh, Chennai, Gurugram, Hyderabad, Jaipur, Kochi, Kolkata, Mumbai, Noida, Pune, Vadodara and Vijayawada.
    </p>
    <img class="img-responsive" src="https://www.bing.com/th?id=OIP.Bm8NfDMR6XES9yEqFqhzNAHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Network Error" style="height:500px;width:605px;display:block;margin:0px auto;" />
  </div>
</div>
